:root {
    --max-width: 640px;
    /* TODO: Perhaps larger version of background? */
}

* {
    font-family: 'Yellowtail', cursive;
}

html {
    max-width: var(--max-width);
    font-size: 20px;
}

@media screen and (max-width: 640px) {
    html {
        font-size: 3.0vw;
    }
}

body {
    background-image: url('./nordwood-themes-KcsKWw77Ovw-unsplash.jpg');
    background-image: url('./augustine-wong-li0iC0rjvvg-unsplash.jpg');  /* Larger version, perhaps? */
}


h1 {
    font-family: 'Pinyon Script', cursive;
    font-family: 'Yellowtail', cursive;
    font-family: 'Satisfy', cursive;

    /* margin-left: 5em; */
    text-align: center;

    color:rgb(64, 64, 64)
}

div.row {
    display: table-row;
}

label, button, th, input[type='submit'] {
    font-family: 'Yellowtail', cursive;
}

label, input, button {
    font-size: 1.5em;
}


label {
    display: table-cell;
    text-align: right;
}

input[type='text'] {
    width: 100%;
    display: table-cell;
}

input[type='text'], input[type='number'] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    border-radius: 0.3em;
    padding-left: 0.2em;
}

input[type='checkbox'] {
    width: 1em;
    height: 1em;
}

input[type='submit'] {
    width: 4em;
    display:block;
    margin: 2em auto;
}

thead:first-child {
    text-align: left;
}

select {
    font-size: .9em;
}

footer {
    position: fixed;
    bottom: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;
    max-width: var(--max-width);
    text-align: center;
    background-image: url('./augustine-wong-li0iC0rjvvg-unsplash.jpg');  /* Larger version, perhaps? */
}

#results {
    margin-top: 1em;
}

#results tr:nth-child(even) {
    background-color: rgba(195, 235, 248, 0.25);
}

#results th {
    color: rgb(80, 80, 80);
    background-color: rgba(195, 235, 248, 0.377);
}

#results th, td {
    font-size: 1.5em;
}

#results th:last-of-type {
    width: 5em;
    text-align: center;
}

#results td {
    font-family: 'Times New Roman', Times, serif;
}

#results td:last-of-type {
    text-align: center;
}

.chklabel {
    float: left;
    vertical-align: middle;
    font-size: 1em;
    padding-left: .25em;
}

.small {
    font-size: .7em;
}

.hidden {
    display: none;
}

#inputForm > table {
    font-family: 'Yellowtail', cursive;
}

#inputForm td {
    vertical-align: middle;
}

#inputForm tr td:first-child {
    width: 1%;
    white-space: nowrap;
}

#inputForm tr td:last-child {
    width: 5em;
    padding-left: 0.7em;
}

#syllables {
    width: 1.7em;
}

#near {
    float: left;
}

#trailer {
    font-family: 'Yellowtail', cursive;
}

#less {
    margin-left: 0em;
}

#clr {
    margin-bottom: 0.5em;
}


#stay-tuned {
    font-family: 'Yellowtail', cursive;
    margin-left: 3em;
    font-size: 2em;
    color:darkgreen;
}
