:root {
    --max-width: 800px;
}

html {
    max-width: var(--max-width);
}

body {
    background-image: url('./nordwood-themes-KcsKWw77Ovw-unsplash.jpg');
    background-image: url('./augustine-wong-li0iC0rjvvg-unsplash.jpg');
}


h1 {
    font-family: 'Pinyon Script', cursive;
    font-family: 'Yellowtail', cursive;
    font-family: 'Satisfy', cursive;

    margin-left: 5em;

    color:rgb(64, 64, 64)
}

div.row {
    display: table-row;
}

label, button, th {
    font-family: 'Yellowtail', cursive;
}

label, input, button {
    font-size: 1.5em;
}

label {
    display: table-cell;
    text-align: right;
}

input {
    width: 8em;
    display: table-cell;
}

input[type='checkbox'] {
    width: 1em;
    height: 1em;
}

#table tr:nth-child(odd) {
    background-color: rgb(228, 245, 239);
}

#table th {
    color: rgb(80, 80, 80);
}

#table th, td {
    font-size: 1.5em;
}

#table td:last-of-type {
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 0.5em;
}

.hidden {
    display: none;
}
#form > table {
    font-family: 'Yellowtail', cursive;
}

#form tr td:first-child {
    width: 1%;
    white-space: nowrap;
}

#syllables {
    width: 2em;
}

#trailer {
    font-family: 'Yellowtail', cursive;
}

#less {
    margin-left: 0em;
}

#submit {
    margin-top: 1em;
    margin-left: 7em;
}

#stay-tuned {
    font-family: 'Yellowtail', cursive;
    margin-left: 3em;
    font-size: 2em;
    color:darkgreen;
}
