:root {
    --max-width: 800px;
}

html {
    max-width: var(--max-width);
}


h1 {
    font-family: 'Pinyon Script', cursive;
    font-family: 'Yellowtail', cursive;
    font-family: 'Satisfy', cursive;

    margin-left: 5em;

    color:rgb(64, 64, 64)
}

div.row {
    display: table-row;
}

label, button, th {
    font-family: 'Yellowtail', cursive;
}

label, input, button {
    font-size: 1.5em;
}

label {
    display: table-cell;
    text-align: right;
}

input {
    width: 8em;
    display: table-cell;
}

tr:nth-child(odd) {
    background-color: rgb(228, 245, 239);
}

th {
    color: rgb(80, 80, 80);
}

th, td {
    font-size: 1.5em;
}

td:last-of-type {
    text-align: center;
}

#syllables {
    width: 2em;
}

#trailer {
    font-family: 'Yellowtail', cursive;
    font-size: 1.5em;
}

#less {
    margin-left: 0em;
}

#submit {
    margin-top: 1em;
    margin-left: 7em;
}

#stay-tuned {
    font-family: 'Yellowtail', cursive;
    margin-left: 3em;
    font-size: 2em;
    color:darkgreen;
}
