@import 'typography';
@import 'icons';

$sm-break: 34em;
$lg-break: 52em;

// colors
$dark-gray: #727272;
$med-gray: #b4b3b5;
$light-gray: #eaeaea;
$body-font: #020202;
$link-blue: #0076b6;    // Links, particularly, figure caption links on "interest boxes"
$byui-blue: #056cb6;

$border-gray: #c6c7c8;

// Utility classes

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}


body {
  color: $body-font;
  background-color: $light-gray;
  font-family: "BYUI Open Sans", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif;
  font-weight: 400;
  margin: 0;
}

img {
  max-width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.white-text {
  color: $light-gray;
}

.component-space {
  margin-bottom: 2em;
}

@import 'header';
@import 'main';
@import 'footer';
