* {
    background-color: #07207a;
    color: #CED8F7;
    color: #9fb5f5;
    font-family: 'architects daughter', cursive;
    font-weight: 400;
}
body {
    margin-left: 1.5em;
    margin-right: 1.5em;
    font-size: 1.25em;
}

code {
    font-family: consolas, monospace;
}

section {
    margin-top: 4em;
}

li {
    margin-bottom: .25em;
}

.student {
    margin-top: -2em;
    margin-left: 2.5em;
}
