/*
html {
    font-size: 17px;
}

@media (max-width: 900px) {
    html {
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 48px;
    }
}
*/
* {
    font-family: 'Architects Daughter', cursive;
}
html {
    max-width: 800px;
}

body {
    background-color: #4A6DE5;
    color: #CED8F7;
    font-family: 'Architects Daughter', cursive;
}

h1 {
    text-align: center;
    font-weight: normal;
}

table {
    width: 100%
}

tr {
    outline: thin solid #ddd;
}

td {
    border: 1px solid #ddd;     /* For debugging */
    border-width: medium;         /* For debugging */
    border: none;
}

ul {
    list-style-type: none;
}

input {
    height: 2.5em;
    width: 98%;
    margin-left: 1px;
    margin-right: 1px;
    background-color: #CED8F7;
}

input[type="checkbox"] {
    width: 2.5em;
}

button {
    background-color: #4A6DE5;
    color: #CED8F7;
    border: none;
    font-size: 1em;
}


button[type="submit"] {
    height: 32px;   /* icon size */
    width: 32px;
}

form {
    text-align: left;
    margin-bottom: 1em;
    max-width: 800px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 1em;
}

.hidden {
    display: none;
}

.task-input {
    width: 90%;
    font-family: 'Architects Daughter', cursive;
    font-size: 1.5em;
}

.add {
    width: 80%;
    margin-left: 2px;
}


.deleteTask {
    height: 1.8em;
    width: 1.8em;
    font-size: large;
    font-weight: bold;
}

.filter {
    border: none;
    background-color: none;
}

.filter:hover {
    border: 1px solid black;
    border-width: thin;
}

.strike {
    text-decoration: line-through;
}
